<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container">
            <div class="row">
                <h3>Bandit’s Blog #01 – My goals on the course: (23/11/15)</h3>
                <p>The week at Villiers Park offered an inspiring experience of the subject of my choice – computer science. This is exactly what I came here to do. By the end of the week, I’m hoping to find more inspiration to do programming because it’s something that I need to do but have been slacking with at school. My time here is dedicated to working and there aren’t any distractions to stop me from achieving this goal. At the same time, I’m hoping to learn more about the subject that I would otherwise not learn at school, giving me a wider knowledge of computer science. Hopefully this knowledge will become useful to me in the future, especially when I need to apply my knowledge to something.</p>
            </div>
          </div>
        </div>
    </body>
</html>
